#form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-div {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  margin-top: 5px;
  padding: 7px;
}

.submit {
  text-align: center;
}